[Unit]
Description=Puma for hello-world rails app
After=network.target

[Service]
Type=simple
User=shiva
WorkingDirectory=/var/kailasa/hello-world/current
ExecStart=bundle exec puma -C /var/kailasa/hello-world/current/config/puma.rb
ExecStop=bundle exec pumactl -S /var/kailasa/hello-world/shared/tmp/pids/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
